robotframework
# pyscreeze 0.1.29 doesn't seem to work with pyautogui 0.9.53
pyscreeze==0.1.28
# pyautogui 0.9.54 has issues on MacOS https://github.com/asweigart/pyautogui/issues/783
# pyautogui is a prerequisite of imagehorizonlibrary
pyautogui!=0.9.54
robotframework-imagehorizonlibrary
opencv-python
robotframework-databaselibrary
pyscreenrec
clipboard
#	numpy-2.2.3 crashes on windows with python 3.13 with error below, but works on other python versions
# potentially this issue https://github.com/numpy/numpy/issues/26038
#  	<frozen importlib._bootstrap>:488: Warning: Numpy built with MINGW-W64 on Windows 64 bits is experimental, and only available for testing. You are advised not to use it for production.
#
# CRASHES ARE TO BE EXPECTED - PLEASE REPORT THEM TO NUMPY DEVELOPERS
# C:\hostedtoolcache\windows\Python\3.13.2\x64\Lib\site-packages\numpy\core\getlimits.py:225: RuntimeWarning: invalid value encountered in exp2  epsneg_f128 = exp2(ld(-113))
# C:\hostedtoolcache\windows\Python\3.13.2\x64\Lib\site-packages\numpy\core\getlimits.py:226: RuntimeWarning: invalid value encountered in exp2  tiny_f128 = exp2(ld(-16382))
# C:\hostedtoolcache\windows\Python\3.13.2\x64\Lib\site-packages\numpy\core\getlimits.py:240: RuntimeWarning: invalid value encountered in exp2  eps=exp2(ld(-112)),
# C:\hostedtoolcache\windows\Python\3.13.2\x64\Lib\site-packages\numpy\core\getlimits.py:41: RuntimeWarning: invalid value encountered in nextafter  self._smallest_subnormal = nextafter(
# C:\hostedtoolcache\windows\Python\3.13.2\x64\Lib\site-packages\numpy\core\getlimits.py:52: RuntimeWarning: invalid value encountered in log10  self.precision = int(-log10(self.eps))
# numpy!=2.2.3 # installed numpy-1.26.4
numpy==2.2.2
