# patterns of files to ignore / prevent uploading
famfamfam_silk_icons/*
results/*
robots/*
Scenarios/*
*/*.rfs
*.7z
*.zip
*.ini
*.rfs
*.html
*.xml
*Tests/*.png
*driver.log
*log.txt
Resources/*
dist/*
build/*
*.egg-info/*
*.pyc
__pycache__
rfswarm_gui/logs/*
*/.DS_Store
!Doc/Images/*.html
!Tests/**/Logs/**/*
Tests/**/.DS_Store
Tests/**/Logs/**/Sikuli_java_*.txt
!Tests/**/*.html
!Tests/**/testdata/**/*
Tests/**/testdata/**/.DS_Store
Tests/**/*.pyc
Tests/**/__pycache__
