numpy>2; python_version > '3.12' and platform_system == 'Windows'
PyMuPDF>=1.23.1; python_version > '3.12' and platform_system == 'Windows'
robotframework
robotframework-doctestlibrary
# pyscreeze 0.1.29 doesn't seem to work with pyautogui 0.9.53
pyscreeze==0.1.28
# pyautogui 0.9.54 has issues on MacOS https://github.com/asweigart/pyautogui/issues/783
# pyautogui is a prerequisite of imagehorizonlibrary
pyautogui!=0.9.54
robotframework-imagehorizonlibrary
opencv-python
Pillow
robotframework-ocrlibrary
clipboard
python-docx
openpyxl
openpyxl_image_loader
pandas