name: Super-Linter

on: push

jobs:
  super-lint:
    name: Lint code base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run Super-Linter
        uses: github/super-linter@v4
        env:
          DEFAULT_BRANCH: main
          FILTER_REGEX_EXCLUDE: .*.sh
#           FILTER_REGEX_EXCLUDE: .*git/*
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
